.events .event-item{
    color: #fff;
}
.events .image{
    border-radius: 20px;
}
.events .content{
    text-align: justify;
}
.events .event-item h3{
    font-weight: 600;
    font-size: 26px;
    color :#cda45e;
}
.events .event-item .price{
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.events .event-item ul{
    list-style: none;
    padding: 0;
}

.events .event-item ul li{
    padding-bottom: 10px;
}

.events .event-item ul li{
    font-size: 20px;
    padding-right: 4px;
    color: #cda45e;
}

.events .event-item p:last-child{
    margin-bottom: 0;
}

@media (max-width: 800px){
    .events .image{
        border-radius: 50%;
    }
    .events .content{
        text-align: justify;
    }
    .events .details{
        font-size: 15px;
    }

}