/*--------------------------------------------------------------
# Preloader Section
--------------------------------------------------------------*/

#preloader{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
}

#preloader:before{
    content: '';
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a1814;
    border-top-color: #cda45e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate-preloader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



/* --------------------------------------------------------------
# Menu section
--------------------------------------------------------------*/ 
.menu #menu-filters{
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.menu #menu-filters li{
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 10px 12px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.menu #menu-filters li:hover,
.menu #menu-filters li.filter-active{
    color: #cda45e;
}

.menu #menu-filters li:last-child{
    margin-right: 0;
}