/*--------------------------------------------------------------
# SectionTitle section
--------------------------------------------------------------*/ 
.section-title {
    padding: 48px;
}

.section-title h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: 'Poppins', sans-serif;
}

.section-title h2::after{
    content: '';
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgb(255, 255, 255, 0.2);
    margin: 4px 10px;
}

.section-title p{
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: #cda45e;
}

